In [ ]:
Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
data=[ 4, 8, 15, 16, 23 ,42]
series = pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
variable=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(variable)

# Printing the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["F","M","F"],
}

pd.DataFrame(data)

     Name  Age Gender
0   Alice   25      F
1     Bob   30      M
2  Claire   27      F

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a 2-dimensional, tabular data structure in Python that resembles a table in a database or an Excel spreadsheet. It consists of rows and columns
A Pandas Series is a 1-dimensional array-like structure with an associated index. It is similar to a column in a DataFrame but represents just a single data sequence.

In [ ]:
What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head(n): Displays the first n rows of the DataFrame.
tail(n): Displays the last n rows of the DataFrame.
info(): Provides a summary of the DataFrame (e.g., data types, non-null counts).
describe(): Gives summary statistics for numerical columns.

In [ ]:
Which of the following is mutable in nature Series, DataFrame, Panel?
In Pandas, all three objects—Series, DataFrame, and Panel—are mutable in nature. This means their contents can be changed after creation.

In [ ]:
Create a DataFrame using multiple Series. Explain with an example.

In [20]:
names = pd.Series(["Alice", "Bob", "Charlie"])
ages = pd.Series([25, 30, 35])
cities = pd.Series(["New York", "Los Angeles", "Chicago"])
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "City": cities
})

In [21]:
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago